* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient( /* color stops */
        to bottom,
        rgb(0, 115, 255),
        #ff0000
    );
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo-container {
    margin-right: auto;
}

#navbar #logo-container img {
    width: 200px;
}

#navbar .cta-button {
  background-color: white;
  color: black;
  border-radius: 36px;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
  min-width: 150px;
  text-align: center;
  margin-right: 24px;
  margin-left: 24px;  
}

#centered-hero {
    background-image: url("../images/haitiandish.webp");
    background-size: cover;
    background-position: center center;
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#centered-hero .hero-content {
    color: rgb(0, 0, 0);
    text-align: center;
}

.hero-content h1 {
    font-size: 7vw;
}

.hero-content h3 {
    font-size: 4vw;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.food-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.food-gallery img {
    height: 250px;
    flex: 1;
    object-fit: cover;
}
