/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.yellow {
    background-color: rgb(252, 252, 103);
    text-align: center;
}

.blue {
    background-color: rgb(113, 151, 255);
    text-align: center;
}

.pink {
    background-color: pink;
    text-align: center;
}

.green {
    background-color: rgb(133, 255, 133);
    text-align: center;
}
    