* {
    box-sizing: border-box;
}

body {

    margin: 0px;
    font-family: sans-serif;
}

.single-colum {
    background-color: blueviolet;
    color: white;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}