* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient( /* color stops */
        to bottom,
        rgb(0, 162, 255),
        #247bf4
    );
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo-container {
    margin-right: auto;
}

#navbar #logo-container img {
    width: 200px;
}

#navbar .cta-button {
  background-color: white;
  color: black;
  border-radius: 36px;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
  min-width: 150px;
  text-align: center;
  margin-right: 24px;
  margin-left: 24px;  
}
