<* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#centered-hero {
    background-image: url("../images/stars-on-velvet.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#centered-hero .hero-content {
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 6vw;
}

.hero-content h3 {
    font-size: 3vw;
}

#side-hero {
    background-image: url(../images/image2,);
    background-position: center center;
    display: flex;
    height: 100vh;
    background-size: cover;
    justify-content: flex-end;
    align-items: center;
    padding: 10%;
}

#contrast-hero {
    background-image: url("../images/placid-waters.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#contrast-hero .hero-content {
    background-color: rgba(255, 255, 255, 0.526);
    padding: 24px;
    text-align: center;
    border-radius: 24px;
}