* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}



#morning {
    background-color: yellowgreen;
    margin: 24px;
}

#afternoon {
    background-color: plum;
    margin: 24px;
}

#evening {
    background-color: rgb(105, 105, 237);
    margin: 24px;
}