* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.light-outer-container {
    background-color: rgb(199, 165, 244);
    padding: 46px 24px;
}

.dark-outer-container {
    background-color: rgb(219, 45, 126);
    padding: 46px 24px;
    color: rgb(201, 157, 243);
}

.Click-Here {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-style: double;
    font-size: 20px;
}