* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#first-paragraph {
    color: hsl(237, 53%, 59%);
    background-color: rgb(173, 138, 205);
}

#second-paragraph {
    color: #2121a0;
    background-color: #6a68dc;
}

#third-paragraph {
    background-color: rgb(60, 60, 204);
    color: black;
}

#fourth-paragraph {
    background-color: rgb(28, 28, 139);
    color: white;
}

