* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: blanchedalmond;*/
}

.light-outer-container {
    background-color: rgb(135, 255, 95);
    padding: 46px 24px;

}

.dark-outer-container {
    background-color: blue;
    color: white;
    padding: 48px 24px;
}
